{% extends 'base.html' %}
{% block title %}Wishboard{% endblock %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/card-columns.css'%}">
<div class="container">
    <div class="card-columns">
        {% for product in products %}
        <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">{{ product.name }}</div>
            <div class="card-body">
                <h4 class="card-title">{{ product.name }}</h4>
                <a href="#"><img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}"></a>
                <p class="card-text">{{ product.description }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
