{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %}
Войти
{% endblock %}

{% block content %}

<div class="container">
    <br>
    <h1 class="">
        Войдите или создайте новый аккаунт
    </h1>
    <div class="">
        <div class="">
            <br>
            <h2 class="">
                Новый пользователь
            </h2>
            <a href="{% url 'signup' %}" class="btn btn-secondary">Создать нового пользователя</a>
        </div>
        <div class="col align-self-center">
            <div>
                <br>
                <h2 class="">
                    Только для зарегистрированых пользователей
                </h2>
                <form method="post">
                    {% csrf_token %}
                    <p>{{ login_form|crispy }}</p>
                    <button type="submit" class="btn btn-secondary">Войти</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}